[Unit]
Description=rpc_proxy online version
After=network.target

[Service]
ExecStart=/usr/local/rpc_proxy/bin/service_rpc_proxy -c /usr/local/rpc_proxy/proxy-config.online.ini -L /usr/local/rpc_proxy/log/proxy-online.log

User=worker
Group=worker

[Install]
WantedBy=multi-user.target
